<h1><%= @album.name %></h1>

<%= image_tag @album.image, :class => 'feature' %>

<ul>
    <li>Name: <%= @album.name %></li>
    <li>Year Released: <%= @album.released %></li>
    <li>Genre: <%= @album.genre %></li>
</ul>

<% if @album.artist.present? %>
    <p>By <%= link_to album.artist.name, artist_path(album.artist) %></p>
<% end %>

<div class="controls">
    <%= link_to "Edit album", edit_album_path(@album) %>
    <%= link_to "Delete album", @album, :method => :delete, :data => { :confirm => 'Are you sure?' }%>
</div>