
<h1>
<%= @player["name"] %>
</h1>

<h2>
    Name: <%= @player["name"] %>
</h2>

<h2>
    Position: <%= @player["position"] %>
</h2>    


<% unless @player["image"].nil? || @player["image"].empty? %>

<img class="feature" src="<%= @player["image"] %>" alt="<%= @player["name"] %>">

<% end %>

<div class="controls">
    <a href="/players/<%= @player["id"] %>/edit">Edit Player</a>
    <a href="/teams/<%= @player["id"] %>/edit">Delete Player</a>
</div>