
<h1>
<%= @team["name"] %>
</h1>

<h2>
    Name: <%= @team["name"] %>
</h2>

<h2>
    MVP: <%= @team["mvp"] %>
</h2>    


<% unless @team["image"].nil? || @team["image"].empty? %>

<img class="feature" src="<%= @team["image"] %>" alt="<%= @team["name"] %>">

<% end %>

<div class="controls">
    <a href="/teams/<%= @team["id"] %>/edit">Edit Team</a>
    <a href="/teams/<%= @team["id"] %>/edit">Delete Team</a>
</div>