<h1>
    <%= @team.name%>
</h1>

<% if @team.image.present?%>
    <img class="feature" src="<%= @team.image %>" alt="<%= @team.name%>">
<% end %>

<div class="controls">
    <a href="/teams/<%= @team.id %>/edit">Edit team</a>
    <a href="/teams/<%= @team.id %>/delete">Delete team</a>
</div>