<h1>Is this what you are looking for?</h1>

<p><%= @unmatch %></p>
<p><%= @book_title %> written by <%= @author %>.</p>

<img src="<%= @cover_url %>" alt="<%= @search %> cover">
<br>
<br>
<div><a href="/"><button>Search again</button></a></div>