
<nav>
    <a href="/players/list"> Players List</a>
</nav>

<h1>Edit player details</h1>

<div>

    <form action="/players/list/<%= @player.id%>" method='post'>
       
        <label for="name">
        Name:
            <input name="name"  value="<%= @player.name %>" >
        </label>

        <label for="age">
        Age:
            <input type="number" name="age" value="<%= @player.age %>">
        </label>

        <label for="nationality">
        Nationality:
            <input name="nationality"  value="<%= @player.nationality %>">
        </label>

        <label for="position">
        Position:
            <input name="position"  value="<%= @player.position %>">
        </label>

        <label for="goals_scored">
        Goals Scored:
            <input type="INTEGER" name="goals_scored" value="<%= @player.goals_scored %>">
        </label>

         <label for="image">
        Image URL:
            <input type="url" name="image" value="<%= @player.image %>">
        </label>
    
        <div>
            <button>Update Player</button>
        </div>
    
    </form>

</div>